In [1]:
import pandas as pd
import mysql.connector

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="1234"
)

In [7]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Plants")

In [13]:
#List of all availabel databases

mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for cursor in mycursor:
    print(cursor)

('information_schema',)
('mydata',)
('mydb',)
('mysql',)
('performance_schema',)
('plants',)
('sakila',)
('sys',)
('test',)
('world',)

In [21]:
#Connecting to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="1234",
  database="plants"
)

In [27]:

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE images_plants (sci_name VARCHAR(255), images VARCHAR(255))")

In [28]:
mycursor.execute('SHOW TABLES')

In [29]:
for i in mycursor:
    print(i)

('images_plants',)

In [ ]:
import csv
import mysql.connector


mydb = mysql.connector.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')
cursor = mydb.cursor()


cursor.execute("CREATE TABLE images_plants (sci_name VARCHAR(255), images VARCHAR(2000))")

data = pd.read_csv('Data/images_plants.csv')
for index,value in data.iterrows():
    sql = 'INSERT INTO images_plants (sci_name,images) VALUES (%s,%s)'
    #cursor.execute('INSERT INTO images_plants (sci_name,images) VALUES (%s,%s)')
    val = (data['sci_name'][index],data['images'][index])
    cursor.execute(sql,val)
mydb.commit()

print("Done")

In [2]:
data = pd.read_csv('Data/images_plants.csv')

In [4]:
subset = data[['sci_name', 'images']]
tuples = [tuple(x) for x in subset.to_numpy()]

In [11]:
mydb = mysql.connector.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')
cursor = mydb.cursor()
cursor.execute('DROP TABLE images_plants')
cursor.execute("CREATE TABLE images_plants (sci_name VARCHAR(255), images TEXT)")
sql = 'INSERT INTO images_plants (sci_name,images) VALUES (%s,%s)'
cursor.executemany(sql, tuples)

In [12]:
mydb.commit()

In [13]:
data = pd.read_csv('Data/endangered_plants.csv')
subset = data[['sci_name', 'Common Name','Threatened status','Profile']]
tuples = [tuple(x) for x in subset.to_numpy()]
mydb = mysql.connector.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')
cursor = mydb.cursor()
cursor.execute("CREATE TABLE plants (sci_name VARCHAR(255), comm_name VARCHAR(255), status VARCHAR(255), Profile VARCHAR(500))")
sql = 'INSERT INTO plants (sci_name,comm_name,status,Profile) VALUES (%s,%s,%s,%s)'
cursor.executemany(sql, tuples)
mydb.commit()

In [19]:
data = pd.read_csv('Data/plants_suburbs.csv')
subset = data[['sci_name', 'suburb']]
tuples = [tuple(x) for x in subset.to_numpy()]
mydb = mysql.connector.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')
cursor = mydb.cursor()
cursor.execute("CREATE TABLE plant_suburbs (sci_name VARCHAR(255),suburb VARCHAR(200)")
sql = 'INSERT INTO plant_suburbs (sci_name,suburb) VALUES (%s,%s)'
cursor.executemany(sql, tuples)
mydb.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [2]:
pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql
mydb = pymysql.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')

In [4]:
cursor=mydb.cursor()

In [23]:
cursor.execute("DROP TABLE suburbs")
cursor.execute('CREATE TABLE suburbs (sci_name VARCHAR(255), suburb TEXT)')
sql = 'INSERT INTO suburbs (sci_name,suburb) VALUES (%s,%s)'
cursor.executemany(sql,tuples)
mydb.commit()

In [39]:
cursor = mydb.cursor()

In [40]:
cursor.execute('SHOW TABLES')

In [44]:
mydb = mysql.connector.connect(host='localhost',
    user='root',
    passwd='1234',
    db='plants')

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('table3_final.csv')

In [11]:

tuples = [tuple(x) for x in data[["sci_name","location"]].to_numpy()]

In [13]:
cursor=mydb.cursor()
sql = 'INSERT INTO locations (sci_name,location) VALUES (%s,%s)'
cursor.executemany(sql,tuples)
mydb.commit()